
    
    <h1>Book List</h1>
    <p *ngIf="!(docs|async)">loding....</p>
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let doc of docs|async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                subject:
             {{doc.subject}} 
            </mat-panel-title>
          </mat-expansion-panel-header> 
            text
          {{doc.text}}
            
        </mat-expansion-panel>
      </mat-accordion>